div(class="grid-of-movies")
	a(href="/pages/movies/logan.pug")
		div(class="movie")
			img(src="/img/movies/logan.jpg")
			div(class="title")
				h6 Logan
	a(href="/pages/movies/civil_war.pug")
		div(class="movie")
			img(src="/img/movies/captain-america-civil-war.jpg")
			div(class="title")
				h6 Captain America Civil War
	a(href="/pages/movies/batman_v_superman.pug")
		div(class="movie")
			img(src="/img/movies/batmanvsuperman.jpg")
			div(class="title")
				h6 Batman v Superman
	a(href="/pages/movies/jurassic_world.pug")
		div(class="movie")
			img(src="/img/movies/jurassic-world.jpg")
			div(class="title")
				h6 Jurassic World
	a(href="/pages/movies/the_incredibles_2.pug")
		div(class="movie")
			img(src="/img/movies/the-incredibles-2.jpg")
			div(class="title")
				h6 The Incredibles 2
	a(href="/pages/movies/deadpool_2.pug")
		div(class="movie")
			img(src="/img/movies/deadpool-2.jpg")
			div(class="title")
				h6 Deadpool 2