div(class="grid-of-programs")
	a(href="/pages/programs/folderico.pug")
		div(class="program")
			img(src="img/programs/folderico.jpg")
			div(class="title")
				h6 Folderico
	a(href="/pages/programs/ultimate_icon_converter.pug")
		div(class="program")
			img(src="img/programs/ultimate-icon-converter.jpg")
			div(class="title")
				h6 Ultimate Icon Converter
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan
//	a(href="#")
//		div(class="program")
//			img(src="img/movies/logan.jpg")
//			div(class="title")
//				h6 Logan