section.recents-slider
	.card
		.card-header
			h4 Recien Agregadas
		.card-body 
			.slider-1
				div
					a(href="/pages/movies/logan.pug")
						img(src="/img/movies/logan.jpg")
				div
					a(href="/pages/movies/batman_v_superman.pug")
						img(src="/img/movies/batmanvsuperman.jpg")
				div
					a(href="/pages/movies/antman_and_the_wasp.pug")
						img(src="/img/movies/ant-man-and-the-wasp.jpg")
				div
					a(href="/pages/movies/civil_war.pug")
						img(src="/img/movies/captain-america-civil-war.jpg")
				div
					a(href="/pages/movies/deadpool_2.pug")
						img(src="/img/movies/deadpool-2.jpg")
				div
					a(href="/pages/movies/x_men_days_of_future_past.pug")
						img(src="/img/movies/x-men-days-of-future-past.jpg")