extends /../layout.pug

append scripts
	link(href='/scss/main.scss' rel="stylesheet")
	script(src="/js/app.js")

block vars
	- var currentUrl = '/page'
	- var title = '| Batwoman Temporada 1'

block content
	section.specific-page
		div.image-container
			img(src="/img/series/batwoman-season-1.jpg" class="main-img")
		div.info-container
			div.information
				p Primera temporada de la nueva serie del arrowverso, <strong>Batwoman</strong>. Serie que nace del crossover denominado elseworlds y que se centra en las aventuras de Kate Kane bajo el manto de batwoman en una Gotham más caótica que nunca.
				h5 Información técnica
				ul.technical-data
					li Episodios: 06
					li Calidad: 720p
					li Audio: Inglés
					li Subtitulos: Inglés / Español latino
					li Formato: mkv
				h5 Carpeta personalizada
				div.folder-container
					img(src="/img/folders/batwoman-season-1-folder.jpg" class="folder")
				h5 Enlaces de descarga
				div.link-container
					ul.download-links
						li 
							a(href="#" class="link") 01 - Pilot
						li
							a(href="#" class="link") 02 - The rabbit hole
						li
							a(href="#" class="link") 03 - Down down down
						li
							a(href="#" class="link") 04 - Who are you?
						li
							a(href="#" class="link") 05 - Mine is a long a sad tale
						li
							a(href="#" class="link") 06 - I'll be judge, i'll be jury
						li
							a(href="#" class="link") Carpeta personalizada
					// p Contraseña: supesnet

