extends /../layout.pug

append scripts
	link(href='/scss/main.scss' rel="stylesheet")

block vars
	- var currentUrl = '/page'
	- var title = '| Watchmen Temporada 1'

block content
	section.specific-page
		div.image-container
			img(src="/img/series/watchmen-season-1-v2.jpg" class="main-img")
		div.info-container
			div.information
				p Serie continuación de la famosa historia de Alan Moore y Dave Gibbons, <strong>Watchmen</strong>, con una historia a doble tanda. Por una lado centrada en Angela Bar, una agente de policia de la ciudad de que se enfrenta a un complot de inpensables consecuencias. Y por el otro en Adrian Veidt, mejor conocido como Ozymandias.
				h5 Información técnica
				ul.technical-data
					li Episodios: 03
					li Calidad: 720p
					li Audio: Inglés
					li Subtitulos: Inglés / Español latino
					li Formato: mkv
				h5 Carpeta personalizada
				div.folder-container
					img(src="/img/folders/watchmen-season-1-folder.jpg" class="folder")
				h5 Enlaces de descarga
				div.link-container
					ul.download-links
						li 
							a(href="#" class="link") 01 - I'ts summer and we're running out of ice
						li
							a(href="#" class="link") 02 - Martial feats of comanche horsemanship
						li
							a(href="#" class="link") 03 - She was killed by space junk 
						li
							a(href="#" class="link") Carpeta personalizada
					// p Contraseña: supesnet

