doctype html
html
	head
		block vars
		title SupesNet #{title}
	block scripts
		script(src="/js/app.js")
	body
		include /../../includes/header.pug

		

		div(class="global-container") 
			div(class="inner-container")
				main
					block content

				aside
					include /../../includes/sidebar.pug
		
		include /../../includes/footer.pug