extends /../layout.pug

append scripts
	link(href='/scss/main.scss' rel="stylesheet")

block vars
	- var currentUrl = '/page'

block content
	section.specific-page
		div.image-container
			img(src="/img/movies/logan.jpg" class="main-img")
		div.info-container
			div.information
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nam odio nisi iure itaque repellendus ex quia sequi. Et expedita deserunt perferendis omnis aperiam at sed quas, harum quasi ab eligendi inventore, animi iusto est iure quos, aut magni neque quaerat dolorem ad esse! Omnis voluptatibus possimus iusto! Reprehenderit, eveniet!
				h5 Información técnica
				ul.technical-data
					li Tamaño: 1,01 GB
					li Calidad: 720p
					li Audio dual: Español latino/Inglés
					li Formato: mkv
					li Subtitulos: Español latino
				h5 Carpeta personalizada
				div.folder-container
					p En el enlace de descarga esta incluida esta carpeta personalizada de la película. Dirigete a la sección de <a href="/tutorials.pug" class="link">tutoriales</a>, para saber como usarla.
					img(src="/img/folders/logan-folder.jpg" class="folder")
				h5 Enlace de descarga
				div.link-container
					a(href="#" class="link") Enlace
					p Contraseña: DescargarloYa
