extends base

append scripts 
	link(href='/scss/main.scss' rel="stylesheet")

block vars
	- var currentUrl = '/movies'

block content
	section(class="movies movies-bg")
		h4 Películas
		div(class="grid-of-movies")
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan
			a(href="#")
				div(class="movie")
					img(src="img/movies/logan.jpg")
					div(class="title")
						h6 Logan

	include includes/pagination.pug
						
