extends index

append scripts 
	link(href='/scss/main.scss' rel="stylesheet")

block vars
	- var currentUrl = '/series'

block content
	section(class="series series-bg")
		h4 Series
		div(class="grid-of-series")
			a(href="/pages/series/titans_season_2.pug")
				div(class="serie")
					img(src="img/series/titans-season-2.jpg")
					div(class="title")
						h6 Titans Temporada 2
			a(href="/pages/series/watchmen_season_1.pug")
				div(class="serie")
					img(src="/img/series/watchmen-season-1.jpg")
					div(class="title")
						h6 Watchmen Temporada 1
			a(href="/pages/series/black_lightning_season_3.pug")
				div(class="serie")
					img(src="/img/series/black-lightning-season-3.jpg")
					div(class="title")
						h6 Black Lightning <br> Temporada 3
			a(href="/pages/series/batwoman_season_1.pug")
				div(class="serie")
					img(src="/img/series/batwoman-season-1.jpg")
					div(class="title")
						h6 Batwoman Temporada 1
			a(href="/pages/series/arrow_season_8.pug")
				div(class="serie")
					img(src="/img/series/arrow-season-8.jpg")
					div(class="title")
						h6 Arrow Temporada 8
			a(href="/pages/series/the_flash_season_6.pug")
				div(class="serie")
					img(src="/img/series/the-flash-season-6.jpeg")
					div(class="title")
						h6 The flash Temporada 6
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan
		//	a(href="#")
		//		div(class="serie")
		//			img(src="img/movies/logan.jpg")
		//			div(class="title")
		//				h6 Logan

	// include includes/pagination.pug