.banner {
	background: url('../img/batman_arkham.jpg') no-repeat center / cover;
	height: 275px;
	width: 100vw;
}

.custom-navbar {
	background: $dark;
	padding: 0;

	.navbar-toggler {
		border-color: rgba(255, 255, 255, .1);
		color: rgba(255, 255, 255, .5);
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	ul {
		li {
			padding: 0 2rem;
			color: rgba(255, 255, 255, 0.5);

			&:active {
				color: rgba(255, 255, 255, 0.9);
			}

			&:hover {
				background: rgba(255,255,255,0.9);
				color: rgba(0,0,0,0.6);
			}

			a {
				color: inherit;
			}
		}
	}
}