.pagination {
	display: flex;
	justify-content: center;

	li {
		margin: 0 1rem;

		a {
			color: $dark-gray;
			transition: all ease .15s;
			font-weight: 400;

			&:hover {
				color: #000;
			}
		}
	}
}